#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.button {
  cursor: pointer;
  color: blue;
}

.button:active {
  color: rgb(255, 0, 0);
}
.button:hover {
  text-decoration: underline;
}
